/* Table of contents */
/********************/


/*1. Font Faces*/
/*2. Base*/
/*3. Layout*/
/*4. Component*/
/*5. Modifier*/
/*6. State*/
/*7. Media Queries*/


/***************************************************/


/*FONT FACES*/
/***********/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Roboto-Light.ttf')
}



/*BASE*/
/***********/
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 53, 97);
    margin: 0;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.7rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

p {
    font-size: 1.7rem;
    margin-bottom: 23px;
}


/*LAYOUT*/
/***********/

header {
    min-width: 100%;
    padding-bottom: 10%;
    background-image: url('../img/mix-owocow-w-koszyku.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    text-align: center;
    color: #ffffff;
    position: relative;
}

main {
    color: #000000;
    max-width: 1000px;
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 800px;
    margin: 0 auto;
    background: rgb(218, 218, 218);
    padding: 3% 3% 3% 5%;
    min-width: 100%;
}

/*4. Component*/

.header__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 105px;
    background: rgba(0, 0, 0, 0.408);
}

 .header__menu {
    list-style: none;
    display: none;
    flex-direction: column;
    margin: 0;
    height: 100%;
    padding: 0;
}

.header__menu > li {
    height: 100%;
    line-height: 50px;
}

.header__menu > li:hover {
    text-decoration: underline;

}

.header__menu  a {
    text-transform: uppercase;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}


.header__menu>li:hover ul {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s;
    position: static;
    top: 5px;
}

.header__submenu {
    font-size: 1.3rem;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 66px;
    background: #0000008b;
    left: 0;
    right: 0;
    transition: opacity .3s;

    /* line-height: 70px; */
        text-align: left;
    padding-left: 0;
    text-transform: uppercase;
}

.header__submenu li {
    padding-left: 50%;
    position: relative;
}

.header__submenu li::before {
    content: "🍉";
    position: absolute;
    left: 45%;
}

.header__submenu li:hover {
    background: #a0a0a08b;
    cursor: pointer;
}


.header__logo {
    position: absolute;
    top: 10px;
    left: 20px;
    max-width: 50px;
    z-index: 1;
}

.header__hamburger {
    max-width: 50px;
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.hero-h1 {
    font-size: 8.1vw;
    padding-top: 27vw;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 10px #000000;
}

.hero-h2 {
    font-size: 4.7vw;
    font-weight: 400;
    text-shadow: 0 0 10px #000000;
}


.header__arrow {
    display: none;
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}
  
.divider {
    width: 200px;
    border: 1px solid pink;
    margin-bottom: 30px;
}

.description {
    margin-bottom: 30px;
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
}

.description__title {
    text-align: center;
}

.description__paragraph {
    padding: 0 3% 0 3%;
}

.description__gallery img {
    max-width: 96%;
    height: auto;
    margin-bottom: 20px;
    padding: 0 2% 0 2%;
}

.description__gallery img:last-child {
    float: right;
}

.fruits {
    margin-bottom: 50px;
}

.fruits h2 {
    text-align: center;
}

.fruit {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fruit:nth-child(even) .fruit__image {
    order: 1
}

.fruit:nth-child(even) .fruit__description {
    order: 2
}

.fruit__description {
    padding: 45px 20px 35px 20px;
}

.fruit__image {
    min-width: 50%;
}

.fruit__image img {
    max-width: 100%;
    height: auto;
}

.details {
    max-width: 100%;
    margin: 0 2% 0 2%;
}

.details__wrapper {
    overflow-x: auto;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}


.details__table {
    max-width: 1000px;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
    padding: 0 112% 0 2%;
}

.details__table__type {
    width: 15%;
    margin: 0 2% 0 2%;
}

.details__table__description {
    min-width: 333px;
}

.details__table thead {
    font-size: 2rem;
}

.details__table tbody {
    font-size: 1.5rem;
}

.details__table td,
.details__table th {
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
}

.definitions {
    margin: 50px 0 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    padding: 0 3% 0 3%;
}

.definitions img {
    max-width: 100%;
}

.definitions__wrapper {
    display: flex;
    flex-direction: column;
}

.definitions h3 {
    display: inline-block;
    padding-right: 30px;
    font-size: 1.6rem;
    border-bottom: 1px solid rgb(246, 178, 189);
    padding-bottom: 10px;
}

.footer__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer__menu__item a{
    text-decoration: none;
    color: rgb(82, 82, 82);
}

.footer__menu__item a:hover {
    text-decoration: underline;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    width: 77%;
    padding-bottom: 30px;
}

.footer__menu__wrapper {
    display: flex;
    align-items: center;
    order: 1;
    width: 89%;
}

.footer__menu__item:not(:last-child) {
    padding-bottom: 10px;
}

.footer__form__wrapper {
    display: flex;
    order: 0;
    margin-bottom: 40px;
    width: 100%;
}

.footer__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 25px;
    font-size: 1.5rem;
    width: 100%;
}

.footer__label {
    text-transform: uppercase;
}

.footer__input {
    border: none;
    border-bottom: 1px solid rgb(173, 173, 173);
    background: rgb(218, 218, 218);
    height: 30px;
}

.footer__logo img {
    max-width: 40px;
    padding-top: 30px;
}

/*5. Modifier*/
/*6. State*/

.element--visible {
    display: flex;
}

.light--background {
    background-color: #ffffff !important;
    color: #000000 !important;
}


.dark--text {
    color: #000000 !important;
}

/*7. Media Queries*/

@media screen and (min-width: 320px) {
    
    footer {
        padding: 3%;
        align-items: center;
    }
}

@media screen and (min-width: 500px) {
    .description__gallery img {
        max-width: 45%;

        height: auto;
        margin-bottom: 0;
        padding: 0 2% 0 2%;
    }
}


@media screen and (min-width: 610px) {
    .header__menu {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        margin-left: auto;
        height: 105px;
        max-width: 75%;
    }

    .header__menu>li {
        height: 100%;
        line-height: 105px;
    }

    .header__menu a {
        text-transform: uppercase;
        font-size: 2rem;
        text-decoration: none;
    }
    
    .header__menu>li:hover ul {
        opacity: 1;
        visibility: visible;
        transition: opacity .3s;
        position: absolute;
    }
    
    .header__submenu {
        font-size: 1.7rem;
        opacity: 0;
        visibility: hidden;
        list-style: none;
        position: absolute;
        margin-top: 100px;
        height: 70px;
        line-height: 70px;
        background: #0000008b;
        left: 0;
        right: 0;
        top: 105px;
        text-align: right;
        transition: opacity .3s;
    }
    
    .header__submenu li {
        padding: 0 10px 0 10px;
        display: inline-block;
    }
    
    .header__submenu li::before {
        display: none;
    }

    .header__hamburger {
        display: none;
    }

    .definitions {
        flex-direction: row;
    }

    footer {
        padding: 40px 20px 20px 20px;
        align-items: center;
    }

    .definitions__wrapper:not(:last-child) {
        padding-right: 10px;
    }
    
}

@media screen and (min-width: 650px) {
    .fruit__description {
        padding: 20px 20px 0 20px;
    }
}


@media screen and (min-width: 700px) {

    .fruit {
        flex-direction: row;
    }

    .fruit:nth-child(even) .fruit__image {
        order: 2
    }

    .fruit:nth-child(even) .fruit__description {
        order: 1
    }

    .header__menu {
        max-width: 60%;
    }

}

@media screen and (min-width: 828px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: row;
    }

    .footer__menu {
        max-width: 150px;
        border-right: 1px solid #b1b1b1;
        padding-left: 30px;
    }

    .footer__menu__wrapper {
        order: 0;
    }
    
    .footer__form__wrapper {
        order: 1;
        margin-bottom: 0;
        padding-right: 40px;
        padding-left: 30px;
    }

    .description__title {
        margin-top: 40px;
     }
}

@media screen and (min-width: 900px) {

    .definitions__item:not(:last-child) {
        margin-right: 10px;
    }

    .definitions__wrapper:not(:last-child) {
        margin-right: 10px;
    }

    .header__arrow {
        display: inline-block;
        max-width: 100px;
        animation: pulse 1.5s linear infinite;
    }
}

@media screen and (min-width: 925px) {

    .definitions {
        padding: 0 3% 0 3%;
    }

    .definitions__wrapper {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .header__menu {
        max-width: 40%;
    }
}

@media screen and (min-width: 1525px) {
    .header {
        background-size: cover;
    }

    .hero-h1 {
        padding-top: 23vw;
    }
}
